<%- include('./partials/header')%>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <% if(locals.admin){%>
    <a href="/users">Mostrar todos los usuarios</a>
  <% } %>

  <table border="1">
    <% products.forEach(function(product){ %>
        <tr>
            <td><%=product.id %></td>
            <td><%=product.name %></td>
            <td><%=product.price %></td>
            <td><img src="<%=product.img %>" alt=""></td>
            <td><a href="/products/detail/<%=product.id %>">Ver detalle</a></td>
        </tr>
    <% }); %>
  </table>

<%- include('./partials/footer')%>
