<%- include('./partials/header')%>
    <%if(user){ %>
        <h1><%=user.id %></h1>
        <h1><%=user.user_name %></h1>
        <h1><%=user.birth_date %></h1>
    <%}else{%>
        <h1>No existe perfil</h1>
    <%}%>
<%- include('./partials/footer')%>